/* @import "primevue/resources/themes/aura-light-indigo/theme.css" screen;
@import "primevue/resources/themes/aura-dark-indigo/theme.css" screen and (prefers-color-scheme: dark);
 */
@import "primevue/resources/themes/aura-light-indigo/theme.css" screen;

html, body, #app {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.text-primary {
  color: var(--primary-color);
}
